/** Fonts */
$font-family-title: 'Dosis', Arial, Helvetica, Sans-serif !default;
$font-family-arial-sans: Arial, Verdana, Helvetica, Sans-serif;
$font-family-roboto: 'Roboto', Helvetica, Arial, sans-serif;
$font-family-roboto-condensed: 'Roboto Condensed', Arial, sans-serif;
$font-family-helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-verdana: Verdana, Geneva, sans-serif;

$facebook-bg-color: #3b5998;
$facebook-bg-color2: #213b73;
$google-bg-color: #d34836;
$google-bg-color2: #c62e0e;
