{#{% if flash is defined and flash.type is defined and flash.type is not empty %}#}
{#    <span id="flash_message_{{ flash.type }}" class="d-none">{{ flash.message }}</span>#}
{#{% endif %}#}

{#<script type="text/javascript">#}
{#    const FLASH_MESSAGES = {{ flashes | raw }}#}
{#</script>#}